<div class="card mt-5">
  <div class="card-header">
    <h5 class="card-title">Editoriales</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-xl-6 col-xs-12">
        <label>Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="nombre del editorial"
        />
      </div>
      <div class="form-group col-xl-6 col-xs-12">
        <label>Dirección</label>
        <input type="text" class="form-control" placeholder="dirección" />
      </div>
      <div class="form-group col-xl-6 col-xs-12">
        <label>Telefono</label>
        <input type="number" class="form-control" placeholder="telefono" />
      </div>
      <div class="form-group col-xl-6 col-xs-12">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="email" />
      </div>
      <div class="form-group col-xl-6 col-xs-12">
        <label>numero maximo de libros</label>
        <input type="number" class="form-control" placeholder="numero" />
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="col-12">
      <button class="btn btn-success">Guardar</button>
    </div>
  </div>
</div>
